#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 4em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.title {
  margin-top: 0;
}

#urlBox {
  display: block;
  margin: auto;
  padding: .5em;
  width: 500px;
}

.footer {
  margin-top: auto;
  font-size: small;
  font-style: italic;
}